{
  "openapi": "3.0.0",
  "info": {
    "title": "US Payment API (Common)",
    "description": "New US Payment API supporting both CNP and CP designed by the RAFT and Express Teams.\n* Implemented **paymentMethod** + **entryMethod** approach\n\n**Revision History**\n| Date         | Who     | Description                             |\n| ------------ | ------- | ----------------------------------------|\n| 19.Oct-2023  | Dana F   | Refresh from 1.0.6, CoF as optional object vs. Entry Method |\n",
    "contact": {
      "name": "US Core/IP/ESA Payment API Team",
      "email": "tom.bruns@fisglobal.com"
    },
    "version": "1.0.8"
  },
  "servers": [
    {
      "url": "https://try.uscore.worldpay.com/api/v#/",
      "description": "US Region Enterprise Try Environment",
      "variables": {}
    },
    {
      "url": "https://uscore.worldpay.com/api/v#/",
      "description": "US Region Enterprise Production Environment",
      "variables": {}
    },
    {
      "url": "https://try.ussmb.worldpay.com/api/v#/",
      "description": "US Region SMB Try Environment",
      "variables": {}
    },
    {
      "url": "https://ussmb.worldpay.com /api/v#/",
      "description": "US Region SMB Production Environment",
      "variables": {}
    }
  ],
  "paths": {
    "/payments/{wpAuthorizationId}/authorize": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "referencedIncrementalAuth",
        "description": "You want to Increases or decreases the authorized payment amount before Capturing using an incremental authorization.\n\nScenarios:\n  * Lodging, Cruise Line, Taxi Cab and Amusement Park Merchants:  \n      * Amount that the merchant expects the cardholder to spend during the stay, voyage or trip, plus applicable taxes. \n  * Passenger Transportation, Bus and Railway Merchants:  \n      * Amount equal to the price of the cheapest journey a Cardholder can take. \n  * Vehicle Rental and Other Rental Merchants:  \n      * Cost of cardholder’s intended rental period, plus taxes and mileage rates, if applicable. \n  * Grocery, Restaurant and Bar Merchants:  \n      * Actual cost of food/beverages ordered plus applicable taxes before tip. \n  * Parking and Electric Vehicle Charging:  \n      * Amount that the merchant expects the cardholder to spend for the parking or charging session\n",
        "operationId": "referencedIncrementalAuth",
        "parameters": [
          {
            "name": "wpAuthorizationId",
            "in": "path",
            "description": "The [unique authorization identifier](page:payments-101/wp-transaction-id) generated by Worldpay and returned in the original authorization response.",
            "required": true,
            "style": "simple",
            "schema": {
              "maxLength": 21,
              "minLength": 21,
              "type": "string",
              "example": "V1StGXR8_Z5jdHi6B-myT"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Optional caller supplied [idempotency key](page:payments-101/idempotency) used to prevent duplicate request processing",
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "00000000-0000-0000-0000-000000000000"
            }
          },
          {
            "name": "X-Correlation-ID",
            "in": "header",
            "description": "Internal Use Correlation ID used to trace messages bewteen platforms (not exposed publically)",
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "00000000-0000-0000-0000-000000000000"
            }
          }
        ],
        "requestBody": {
          "description": "The information to update (increase or decrease) the authorised payment amount by performing an **Incremental Authorization**.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PaymentsAuthorizeRequest1"
                  },
                  {
                    "description": "The information to update (increase or decrease) the authorised payment amount by performing an **Incremental Authorization**."
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "UpdateAmounts request processed; processing will continue",
            "headers": {
              "X-Deployed-Version": {
                "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                      "example": "1.0.7"
                    },
                    "example": "1.0.7"
                  }
                }
              },
              "X-Idempotent-Response": {
                "description": "Optional header that indicates that this response is from a previous request using the same idempotency key.",
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "description": "Optional header that indicates that this response is from a previous request using the same idempotency key.",
                      "example": "false"
                    },
                    "example": "false"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentsAuthorizeResponse1"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (additional information will be provided in the response body)",
            "headers": {
              "X-Deployed-Version": {
                "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                      "example": "1.0.7"
                    },
                    "example": "1.0.7"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (Missing or Incorrect Authentication information provided)",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "The wpPaymentId supplied is not valid.",
            "headers": {
              "X-Deployed-Version": {
                "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                      "example": "1.0.7"
                    },
                    "example": "1.0.7"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal service error (additional information may be provided in the response body)",
            "headers": {
              "X-Deployed-Version": {
                "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                      "example": "1.0.7"
                    },
                    "example": "1.0.7"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/payments/authorize": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "authorize",
        "description": "You want to process a Payment Authorization\n  * this confirms the validity of the account and the transaction.\n  * it also verifies that a customer has enough funds or credit to cover the amount of the transaction.\n\nNotes:  \n  * This single endpoint supports both a wide range of Payment Methods for Card Present & eCommerce (Card Not Present) requests.\n  * You can optionally Capture (for settlement) in one (1) step using the **AutoCapture** option\n  * You can also use this method for **Card verification checks** with a $0 authorization amount\n  * You can optionally perform an unreferenced incremenatal Auth by setting a processing option flag + ?\n  * If you are sending PAN, you can request that the response contains a **WorldPay Security Token** useable in future transactions.\n",
        "operationId": "authorize",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Optional caller supplied [idempotency key](page:payments-101/idempotency) used to prevent duplicate request processing",
            "style": "simple",
            "schema": {
              "maxLength": 36,
              "type": "string",
              "example": "00000000-0000-0000-0000-000000000000"
            }
          },
          {
            "name": "X-Correlation-ID",
            "in": "header",
            "description": "Internal Use Correlation ID used to trace messages bewteen platforms (not exposed publically)",
            "style": "simple",
            "schema": {
              "maxLength": 36,
              "type": "string",
              "example": "00000000-0000-0000-0000-000000000000"
            }
          }
        ],
        "requestBody": {
          "description": "The information to **Authorize** a Payment request.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PaymentsAuthorizeRequest"
                  },
                  {
                    "description": "The information to **Authorize** a Payment request.",
                    "example": {
                      "merchantData": {
                        "merchantId": "1234567"
                      },
                      "transactionAmounts": {
                        "totalAmount": 100,
                        "currency": "USD"
                      },
                      "paymentScenario": {
                        "type": "ecommerce",
                        "paymentMethod": {
                          "type": "card/creditOrDebit",
                          "cardData": {
                            "pan": "411111xxxxxx1111",
                            "expiration": {
                              "month": 12,
                              "year": 25
                            },
                            "cvv": "123",
                            "cvvPresenceCode": "Provided"
                          },
                          "processAs": "SignatureCreditOrDebit"
                        }
                      },
                      "userDefinedFields": {
                        "discretionaryField1": "authorize-ecom-credit"
                      }
                    }
                  }
                ]
              },
              "examples": {
                "authorize-ecom-credit": {
                  "summary": "1. ECommerce credit or debit card payment [ECOMM]",
                  "value": {
                    "merchantData": {
                      "merchantId": "1234567"
                    },
                    "transactionAmounts": {
                      "totalAmount": 100,
                      "currency": "USD"
                    },
                    "paymentScenario": {
                      "type": "ecommerce",
                      "paymentMethod": {
                        "type": "card/creditOrDebit",
                        "cardData": {
                          "pan": "411111xxxxxx1111",
                          "expiration": {
                            "month": 12,
                            "year": 25
                          },
                          "cvv": "123",
                          "cvvPresenceCode": "Provided"
                        },
                        "processAs": "SignatureCreditOrDebit"
                      }
                    },
                    "userDefinedFields": {
                      "discretionaryField1": "authorize-ecom-credit"
                    }
                  }
                },
                "authorize-ecom-validate-credit": {
                  "summary": "2. ECommerce Card Validation for a credit or debit card [ECOMM]",
                  "value": {
                    "merchantData": {
                      "merchantId": "1234567"
                    },
                    "transactionAmounts": {
                      "totalAmount": 0,
                      "currency": "USD"
                    },
                    "paymentScenario": {
                      "type": "ecommerce",
                      "paymentMethod": {
                        "type": "card/creditOrDebit",
                        "cardData": {
                          "pan": "411111xxxxxx1111",
                          "expiration": {
                            "month": 12,
                            "year": 25
                          },
                          "cvvPresenceCode": "NotProvided"
                        },
                        "processAs": "SignatureCreditOrDebit"
                      }
                    },
                    "processingFlags": {
                      "addressVerification": true
                    },
                    "userDefinedFields": {
                      "discretionaryField1": "authorize-ecom-validate-credit"
                    }
                  }
                },
                "authorize-ecom-token": {
                  "summary": "3. ECommerce using a OmniToken [CREDONFL?]",
                  "value": {
                    "merchantData": {
                      "merchantId": "1234567"
                    },
                    "transactionAmounts": {
                      "totalAmount": 100,
                      "currency": "USD"
                    },
                    "paymentScenario": {
                      "type": "ecommerce",
                      "paymentMethod": {
                        "type": "token/omni",
                        "token": "411111xxxxxx1234",
                        "credentialsOnFile": {
                          "paymentType": "CredentialsOnFile",
                          "submissionType": "Subsequent",
                          "networkTransactionId": "ABCD1234"
                        }
                      }
                    },
                    "userDefinedFields": {
                      "discretionaryField1": "authorize-ecom-token"
                    }
                  }
                },
                "authorize-ecom-googlepay": {
                  "summary": "4. ECommerce using GooglePay [ECOMM]",
                  "value": {
                    "merchantData": {
                      "merchantId": "1234567"
                    },
                    "transactionAmounts": {
                      "totalAmount": 100,
                      "currency": "USD"
                    },
                    "paymentScenario": {
                      "type": "ecommerce",
                      "paymentMethod": {
                        "type": "wallet/googlePay",
                        "protocolVersion": "ECv2",
                        "signature": "MEQCIEMz6p1NIaxd3RWhnqxB4qLNbilk2M2bcK5D/pOX5RCbAiBuMqE6v91KmLVWsuCs3rQZ1z3sETdirwMCOESnAqHpiA==",
                        "signedMessage": {
                          "encryptedMessage": "d7O+KJATTzSnnI0kMRcGYhwqhz81zTJ59ER5MT7J9WXF4MO+p1DvISGop7ImWHC+Rg/g1qTG4UiYwALCUcZk+0RcudB8GkwVVn7AeNjlPYdVkMOjg/Rz6EdE5CJidClCN2ZVkvlSBaT8unCiWEZBRJtNvYmyFIznk1TpXwgGlRI0tpvDOsiCHLujxY6Y2lcvybR/Ek4aAaxBXMsF/MLNqeod619YE4ANkghcpMZ9v1G2H00eHfy+M+v/Ymnei4tYtd35R6auX1rB8DYaZe2nT/pAMywFGYbCW+OZzWiZaMqFIj/9YxDluzvFjive5ZAKnf29W8b311EJg0iTl4TWjtsWG66K+ERbArQ/2Oj2jva9PLNZsE8R4i6zVP9xkYwjQU3eMqeybAsQn7NusnyY/u5OXNSUu0+Pr0TJxs9h5pGpa373ow4tBDMQ314OfWELa5oMhcQUvkTy31wG/L8tvVw5xTzlNeSXF7w",
                          "ephemeralPublicKey": "BAePYd0+rPdBD2pNZsAFKRhLgACpxgl8CVYqNOMtk50BXQBeXBYysRA+yMy20UAHQO1d9HizJMq5Xuk5KRMDRaw=",
                          "tag": "yepmEQavrLY4lPTBQ5Wy0fr6dJWN8jsD4anD1tJPTaQ"
                        },
                        "intermediateSigningKey": {
                          "signatures": "MEUCIHWH8UdSB6rH8e02ZFFDXow0o8BH9SctHXUhrCTwHO7rAiEAw7Yi/zPEil8I17x/yBgYjYyIrusteflGldWbZXEPejs=",
                          "signedKey": {
                            "keyValue": "MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEV8EqFn2kyYLiu2d3STXqD14rU9bfLg4jTOxuOvLfcydZ8N4YmXdceyCY/8xQCUhqVfW+Z6yHG+3+pSYTLrnaew==",
                            "keyExpiration": "1694111846184"
                          }
                        }
                      }
                    },
                    "userDefinedFields": {
                      "discretionaryField1": "authorize-ecom-googlepay"
                    }
                  }
                },
                "authorize-ecom-amazonpay": {
                  "summary": "5. ECommerce using AmazonPay [ECOMM]",
                  "value": {
                    "merchantData": {
                      "merchantId": "1234567"
                    },
                    "transactionAmounts": {
                      "totalAmount": 100,
                      "currency": "USD"
                    },
                    "paymentScenario": {
                      "type": "ecommerce",
                      "paymentMethod": {
                        "type": "wallet/amazonPay",
                        "amazonPayToken": "096405619097AMZN",
                        "chargeId": "12345",
                        "billingDescriptor": "OnlineStore",
                        "merchantOrderNumber": "1234567890",
                        "merchantID": "8675309"
                      }
                    },
                    "userDefinedFields": {
                      "discretionaryField1": "authorize-ecom-amazonpay"
                    }
                  }
                },
                "authorize-pos-credit-emv": {
                  "summary": "6. POS credit or debit card payment (card w/ Chip inserted) [EMVCHIP]",
                  "value": {
                    "merchantData": {
                      "merchantId": "1234567"
                    },
                    "transactionAmounts": {
                      "totalAmount": 100,
                      "currency": "USD"
                    },
                    "paymentScenario": {
                      "type": "pos",
                      "paymentMethod": {
                        "type": "card/creditOrDebit",
                        "entryMethod": {
                          "type": "emv",
                          "keySerialNumber": "1234567890",
                          "encryptedEmvTlvData": "spihgsfgererpip9oos",
                          "emvTlvData": "84 07 A0 00 00 00 04 10 10 A5 0F 50 0A 4D 61 73 74 65 72 43 61 72 64 87 01 01",
                          "cardInputCode": "ChipRead"
                        },
                        "processAs": "SignatureCreditOrDebit"
                      },
                      "deviceCapability": "ContactlessChipReader"
                    },
                    "userDefinedFields": {
                      "discretionaryField1": "authorize-pos-credit-emv"
                    }
                  }
                },
                "authorize-pos-credit-emv-tap": {
                  "summary": "7. POS credit or debit card payment (contactless tap) [CONTCHIP]",
                  "value": {
                    "merchantData": {
                      "merchantId": "1234567"
                    },
                    "transactionAmounts": {
                      "totalAmount": 100,
                      "currency": "USD"
                    },
                    "paymentScenario": {
                      "type": "pos",
                      "paymentMethod": {
                        "type": "card/creditOrDebit",
                        "entryMethod": {
                          "type": "emv",
                          "keySerialNumber": "1234567890",
                          "encryptedEmvTlvData": "spihgsfgererpip9oos",
                          "emvTlvData": "84 07 A0 00 00 00 04 10 10 A5 0F 50 0A 4D 61 73 74 65 72 43 61 72 64 87 01 01",
                          "cardInputCode": "ContactlessChipRead"
                        },
                        "processAs": "SignatureCreditOrDebit"
                      },
                      "deviceCapability": "ContactlessChipReader"
                    },
                    "userDefinedFields": {
                      "discretionaryField1": "authorize-pos-credit-emv-tap"
                    }
                  }
                },
                "authorize-pos-credit-swipe-fallback": {
                  "summary": "8. POS credit or debit card payment (Mag Stripe fallback from EMV) [FALLBMAG]",
                  "value": {
                    "merchantData": {
                      "merchantId": "1234567"
                    },
                    "transactionAmounts": {
                      "totalAmount": 100,
                      "currency": "USD"
                    },
                    "paymentScenario": {
                      "type": "pos",
                      "paymentMethod": {
                        "type": "card/creditOrDebit",
                        "entryMethod": {
                          "type": "swiped",
                          "trackData": {
                            "track1": "B4000340000000504^John/Doe                  ^22251110000123000",
                            "track2": "411111xxxxxx1111=2225111123400001230"
                          },
                          "fallbackReasonCode": "MagstripeReadChipReadFailure"
                        },
                        "processAs": "SignatureCreditOrDebit"
                      },
                      "deviceCapability": "ContactlessChipReader"
                    },
                    "processingFlags": {
                      "autoCapture": false,
                      "addressVerification": true,
                      "duplicateCheck": true,
                      "partialApproval": false
                    },
                    "userDefinedFields": {
                      "discretionaryField1": "authorize-pos-credit-swipe-fallback"
                    }
                  }
                },
                "authorize-pos-credit-emv-autocapture": {
                  "summary": "9. POS credit or debit card payment (inserted card w/ Chip) w/ Autocapture [EMVCHIP]",
                  "value": {
                    "merchantData": {
                      "merchantId": "1234567"
                    },
                    "transactionAmounts": {
                      "totalAmount": 100,
                      "currency": "USD"
                    },
                    "paymentScenario": {
                      "type": "pos",
                      "paymentMethod": {
                        "type": "card/creditOrDebit",
                        "entryMethod": {
                          "type": "emv",
                          "keySerialNumber": "1234567890",
                          "encryptedEmvTlvData": "spihgsfgererpip9oos",
                          "emvTlvData": "84 07 A0 00 00 00 04 10 10 A5 0F 50 0A 4D 61 73 74 65 72 43 61 72 64 87 01 01",
                          "cardInputCode": "ChipRead"
                        },
                        "processAs": "SignatureCreditOrDebit"
                      },
                      "deviceCapability": "ContactlessChipReader"
                    },
                    "userDefinedFields": {
                      "discretionaryField1": "authorize-pos-credit-emv-autocap"
                    },
                    "processingFlags": {
                      "autoCapture": true
                    }
                  }
                },
                "authorize-pos-gift-swiped": {
                  "summary": "10. POS Gift Card payment (Mag Stripe Swiped) [SWIPED]",
                  "value": {
                    "merchantData": {
                      "merchantId": "1234567"
                    },
                    "transactionAmounts": {
                      "totalAmount": 100,
                      "currency": "USD"
                    },
                    "paymentScenario": {
                      "type": "pos",
                      "paymentMethod": {
                        "type": "card/gift",
                        "entryMethod": {
                          "type": "swiped",
                          "trackData": {
                            "track1": "B4000340000000504^John/Doe                  ^22251110000123000",
                            "track2": "411111xxxxxx1111=2225111123400001230"
                          }
                        }
                      },
                      "deviceCapability": "ContactlessChipReader"
                    },
                    "userDefinedFields": {
                      "discretionaryField1": "authorize-pos-gift-swiped"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Authorization request processed; Check response body to see if it was approved.",
            "headers": {
              "X-Deployed-Version": {
                "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                      "example": "1.0.7"
                    },
                    "example": "1.0.7"
                  }
                }
              },
              "X-Idempotent-Response": {
                "description": "Optional header that indicates that this response is from a previous request using the same idempotency key.",
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "description": "Optional header that indicates that this response is from a previous request using the same idempotency key.",
                      "example": "false"
                    },
                    "example": "false"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaymentsAuthorizeResponse"
                    },
                    {
                      "example": {
                        "wpAuthorizationId": "V1StGXR8_Z5jdHi6B-myT",
                        "authorizeResult": {
                          "resultMessage": "Approved"
                        },
                        "authorizedAmount": {
                          "totalAmount": 1000,
                          "currency": "USD"
                        },
                        "userDefinedFields": {
                          "discretionaryField1": "authorize-approved"
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "authorize-approved": {
                    "summary": "1. Authorization request was approved",
                    "value": {
                      "wpAuthorizationId": "V1StGXR8_Z5jdHi6B-myT",
                      "authorizeResult": {
                        "resultMessage": "Approved"
                      },
                      "authorizedAmount": {
                        "totalAmount": 1000,
                        "currency": "USD"
                      },
                      "userDefinedFields": {
                        "discretionaryField1": "authorize-approved"
                      }
                    }
                  },
                  "authorize-approved-autocap": {
                    "summary": "2. Authorization request was approved (w/ Autocapture)",
                    "value": {
                      "wpPaymentId": "2TvBlgycO__dkzL_5W65j",
                      "authorizeResult": {
                        "resultMessage": "Approved"
                      },
                      "authorizedAmount": {
                        "totalAmount": 1000,
                        "currency": "USD"
                      },
                      "userDefinedFields": {
                        "discretionaryField1": "authorize-approved-autocap"
                      }
                    }
                  },
                  "authorize-declined": {
                    "summary": "3. Authorization request was declined",
                    "value": {
                      "wpPaymentId": "cjQvgnofitnp8ZkC2DEC0",
                      "authorizeResult": {
                        "resultMessage": "Declined"
                      },
                      "userDefinedFields": {
                        "discretionaryField1": "authorize-declined"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request (additional information will be provided in the response body)",
            "headers": {
              "X-Deployed-Version": {
                "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                      "example": "1.0.7"
                    },
                    "example": "1.0.7"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (Missing or Incorrect Authentication information provided)",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {
              "X-Deployed-Version": {
                "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                      "example": "1.0.7"
                    },
                    "example": "1.0.7"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal service error (additional information may be provided in the response body)",
            "headers": {
              "X-Deployed-Version": {
                "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                      "example": "1.0.7"
                    },
                    "example": "1.0.7"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/payments/capture": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Capture",
        "description": "You want to complete the authorization and initiate funds movement for partial or the full authorized amount.\n\nTo capture payments, you can use:\n  * **Automatic Capture** using an option in the /authorize method\n  * **Manual Capture** using this endpoint /capture\n  * **Batch Capture** by sending a EMD file containing a list of the all transactions you want to capture\n\nWhy would you use the manual capture method?\n  * In a ECommerce transaction you must wait to complete the authorization until after shipment.\n    * You can perform multiple captures after each partial shipment.\n  * It is common for Restaurants to use a **Capture** transaction to adjust the final amount to add a Tip.\n\nNotes:  \n  * You **DO NOT** use this endpoint if you are configured for batch file (EMD) capture or Automatic Capture!\"\n  * Before Capturing you can also **Cancel** the transaction if the customer is not going to receive the goods or services.\n",
        "operationId": "Capture",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Optional [idempotency key](page:payments-101/idempotency) to prevent duplicate request processing",
            "style": "simple",
            "schema": {
              "maxLength": 36,
              "type": "string",
              "example": "00000000-0000-0000-0000-000000000000"
            }
          },
          {
            "name": "X-Correlation-ID",
            "in": "header",
            "description": "Internal Use Correlation ID used to trace messages bewteen platforms (not exposed publically)",
            "style": "simple",
            "schema": {
              "maxLength": 36,
              "type": "string",
              "example": "00000000-0000-0000-0000-000000000000"
            }
          }
        ],
        "requestBody": {
          "description": "The information to **Capture** a Payment request.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CapturePaymentRequest"
                  },
                  {
                    "description": "The information to **Capture** a Payment request."
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Capture request processed; processing will continue",
            "headers": {
              "X-Deployed-Version": {
                "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                      "example": "1.0.7"
                    },
                    "example": "1.0.7"
                  }
                }
              },
              "X-Idempotent-Response": {
                "description": "Optional header that indicates that this response is from a previous request using the same idempotency key.",
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "description": "Optional header that indicates that this response is from a previous request using the same idempotency key.",
                      "example": "false"
                    },
                    "example": "false"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CapturePaymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (additional information will be provided in the response body)",
            "headers": {
              "X-Deployed-Version": {
                "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                      "example": "1.0.7"
                    },
                    "example": "1.0.7"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (Missing or Incorrect Authentication information provided)",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal service error (additional information may be provided in the response body)",
            "headers": {
              "X-Deployed-Version": {
                "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                      "example": "1.0.7"
                    },
                    "example": "1.0.7"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/payments/initiateSession": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "initiateSession",
        "description": "You want to initiate a Checkout Session\n  \n  Typically this type of Payment Authorizations includes a number of steps:  \n    1. **initiateAPMSession**:  merchants makes a call that creates a session at the APM partner and return a **redirect url**  \n    2. The merchant will redirect the customer who will interact directly with the APM partner  \n    3. At the conclusion of this interaction, the APM partner returns some information thru the customer to the merchant.  \n    4. **authorize**:  the merchant will make the normal authorize call including some information passed back from the APM  \n",
        "operationId": "initiateSession",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Optional caller supplied [idempotency key](page:payments-101/idempotency) used to prevent duplicate request processing",
            "style": "simple",
            "schema": {
              "maxLength": 36,
              "type": "string",
              "example": "00000000-0000-0000-0000-000000000000"
            }
          },
          {
            "name": "X-Correlation-ID",
            "in": "header",
            "description": "Internal Use Correlation ID used to trace messages bewteen platforms (not exposed publically)",
            "style": "simple",
            "schema": {
              "maxLength": 36,
              "type": "string",
              "example": "00000000-0000-0000-0000-000000000000"
            }
          }
        ],
        "requestBody": {
          "description": "The information for the Initiate Session Request",
          "content": {
            "application/json": {
              "schema": {
                "description": "The information for the Initiate Session Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-Deployed-Version": {
                "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                      "example": "1.0.7"
                    },
                    "example": "1.0.7"
                  }
                }
              },
              "X-Idempotent-Response": {
                "description": "Optional header that indicates that this response is from a previous request using the same idempotency key.",
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "description": "Optional header that indicates that this response is from a previous request using the same idempotency key.",
                      "example": "false"
                    },
                    "example": "false"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "X-Deployed-Version": {
                "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                      "example": "1.0.7"
                    },
                    "example": "1.0.7"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "422": {
            "description": "Client Error",
            "headers": {
              "X-Deployed-Version": {
                "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                      "example": "1.0.7"
                    },
                    "example": "1.0.7"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "headers": {
              "X-Deployed-Version": {
                "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                      "example": "1.0.7"
                    },
                    "example": "1.0.7"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/payments/refund": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "refund",
        "description": "Use this endpoint if you want to return funds to your shopper.\n\nAn unreferenced operation **does** require you to supply the full payment Method details.\n\nNotes:\n* You can refund either the full captured amount or a part of the captured amount. \n* You can also perform multiple partial refunds, as long as their sum doesn't exceed the captured amount.\n",
        "operationId": "refund",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Optional caller supplied [idempotency key](page:payments-101/idempotency) used to prevent duplicate request processing",
            "style": "simple",
            "schema": {
              "maxLength": 36,
              "type": "string",
              "example": "00000000-0000-0000-0000-000000000000"
            }
          },
          {
            "name": "X-Correlation-ID",
            "in": "header",
            "description": "Internal Use Correlation ID used to trace messages bewteen platforms (not exposed publically)",
            "style": "simple",
            "schema": {
              "maxLength": 36,
              "type": "string",
              "example": "00000000-0000-0000-0000-000000000000"
            }
          }
        ],
        "requestBody": {
          "description": "The information to **Refund** an amount back to a customer.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/RefundPaymentRequest"
                  },
                  {
                    "description": "The information to **Refund** an amount back to a customer.",
                    "example": {
                      "merchantData": {
                        "merchantId": "1234567"
                      },
                      "transactionAmounts": {
                        "totalAmount": 100,
                        "currency": "USD"
                      },
                      "paymentScenario": {
                        "type": "ecommerce",
                        "paymentMethod": {
                          "type": "card/creditOrDebit",
                          "processAs": "SignatureCreditOrDebit",
                          "cardData": {
                            "pan": "411111xxxxxx1111",
                            "expiration": {
                              "month": 12,
                              "year": 25
                            }
                          }
                        },
                        "secureIndicator": "NonSecureEcommerceTransaction"
                      },
                      "userDefinedFields": {
                        "discretionaryField1": "refund-credit-keyed"
                      }
                    }
                  }
                ]
              },
              "examples": {
                "refund-credit-keyed": {
                  "summary": "Refund to a credit or debit card using Keyed (Manual Entry)",
                  "value": {
                    "merchantData": {
                      "merchantId": "1234567"
                    },
                    "transactionAmounts": {
                      "totalAmount": 100,
                      "currency": "USD"
                    },
                    "paymentScenario": {
                      "type": "ecommerce",
                      "paymentMethod": {
                        "type": "card/creditOrDebit",
                        "processAs": "SignatureCreditOrDebit",
                        "cardData": {
                          "pan": "411111xxxxxx1111",
                          "expiration": {
                            "month": 12,
                            "year": 25
                          }
                        }
                      },
                      "secureIndicator": "NonSecureEcommerceTransaction"
                    },
                    "userDefinedFields": {
                      "discretionaryField1": "refund-credit-keyed"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Refund request processed; processing will continue",
            "headers": {
              "X-Deployed-Version": {
                "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                      "example": "1.0.7"
                    },
                    "example": "1.0.7"
                  }
                }
              },
              "X-Idempotent-Response": {
                "description": "Optional header that indicates that this response is from a previous request using the same idempotency key.",
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "description": "Optional header that indicates that this response is from a previous request using the same idempotency key.",
                      "example": "false"
                    },
                    "example": "false"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundPaymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (additional information will be provided in the response body)",
            "headers": {
              "X-Deployed-Version": {
                "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                      "example": "1.0.7"
                    },
                    "example": "1.0.7"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (Missing or Incorrect Authentication information provided)",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal service error (additional information may be provided in the response body)",
            "headers": {
              "X-Deployed-Version": {
                "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                      "example": "1.0.7"
                    },
                    "example": "1.0.7"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/payments/{wpPaymentId}/refund": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "referencedRefund",
        "description": "Use this endpoint if you want to return funds to your shopper.\n\nA referenced operation **does not** require you to supply the payment Method details, they will be pulled from the original transaction.\n\nNotes:\n* You can refund either the full captured amount or a part of the captured amount. \n* You can also perform multiple partial refunds, as long as their sum doesn't exceed the captured amount.\n",
        "operationId": "referencedRefund",
        "parameters": [
          {
            "name": "wpPaymentId",
            "in": "path",
            "description": "The [unique payment identifier](page:payments-101/wp-transaction-id) generated by Worldpay and returned in the original authorization or capture response.",
            "required": true,
            "style": "simple",
            "schema": {
              "maxLength": 21,
              "minLength": 21,
              "type": "string",
              "example": "V1StGXR8_Z5jdHi6B-myT"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Optional caller supplied [idempotency key](page:payments-101/idempotency) used to prevent duplicate request processing",
            "style": "simple",
            "schema": {
              "maxLength": 36,
              "type": "string",
              "example": "00000000-0000-0000-0000-000000000000"
            }
          },
          {
            "name": "X-Correlation-ID",
            "in": "header",
            "description": "Internal Use Correlation ID used to trace messages bewteen platforms (not exposed publically)",
            "style": "simple",
            "schema": {
              "maxLength": 36,
              "type": "string",
              "example": "00000000-0000-0000-0000-000000000000"
            }
          }
        ],
        "requestBody": {
          "description": "The information to **Refund** an amount back to a customer referencing the original request",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/RefundReferencedPaymentRequest"
                  },
                  {
                    "description": "The information to **Refund** an amount back to a customer referencing the original request",
                    "example": {
                      "merchantData": {
                        "merchantId": "merchantId0"
                      },
                      "transactionAmounts": {
                        "totalAmount": 100,
                        "currency": "USD"
                      }
                    }
                  }
                ]
              },
              "examples": {
                "refund-referecned-credit-keyed": {
                  "summary": "Refund referencing the origignal Authorization Transaction",
                  "value": {
                    "merchantData": {
                      "merchantId": "merchantId0"
                    },
                    "transactionAmounts": {
                      "totalAmount": 100,
                      "currency": "USD"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Reverse request processed; processing will continue",
            "headers": {
              "X-Deployed-Version": {
                "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                      "example": "1.0.7"
                    },
                    "example": "1.0.7"
                  }
                }
              },
              "X-Idempotent-Response": {
                "description": "Optional header that indicates that this response is from a previous request using the same idempotency key.",
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "description": "Optional header that indicates that this response is from a previous request using the same idempotency key.",
                      "example": "false"
                    },
                    "example": "false"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundReferencedPaymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (additional information will be provided in the response body)",
            "headers": {
              "X-Deployed-Version": {
                "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                      "example": "1.0.7"
                    },
                    "example": "1.0.7"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (Missing or Incorrect Authentication information provided)",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "The wpPaymentId supplied is not valid.",
            "headers": {
              "X-Deployed-Version": {
                "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                      "example": "1.0.7"
                    },
                    "example": "1.0.7"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal service error (additional information may be provided in the response body)",
            "headers": {
              "X-Deployed-Version": {
                "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                      "example": "1.0.7"
                    },
                    "example": "1.0.7"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/payments/{wpAuthorizationId}/capture": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "referencedCapture",
        "description": "You want to complete the authorization and initiate funds movement for partial or the full authorized amount referencing the original transaction.\n\nTo capture payments, you can use:\n  * **Automatic Capture** using an option in the /authorize method\n  * **Manual Capture** using this endpoint /capture\n  * **Batch Capture** by sending a EMD file containing a list of the all transactions you want to capture\n\nWhy would you use the manual capture method?\n  * In a ECommerce transaction you must wait to complete the authorization until after shipment.\n    * You can perform multiple captures after each partial shipment.\n  * It is common for Restaurants to use a **Capture** transaction to adjust the final amount to add a Tip.\n\nNotes:  \n  * You **DO NOT** use this endpoint if you are configured for batch file (EMD) capture or Automatic Capture!\"\n  * Before Capturing you can also **Cancel** the transaction if the customer is not going to receive the goods or services.\n",
        "operationId": "referencedCapture",
        "parameters": [
          {
            "name": "wpAuthorizationId",
            "in": "path",
            "description": "A [unique authorization identifier](page:payments-101/wp-transaction-id) generated by Worldpay and returned in the original authorization transaction.",
            "required": true,
            "style": "simple",
            "schema": {
              "maxLength": 21,
              "minLength": 21,
              "type": "string",
              "example": "V1StGXR8_Z5jdHi6B-myT"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Optional [idempotency key](page:payments-101/idempotency) to prevent duplicate request processing",
            "style": "simple",
            "schema": {
              "maxLength": 36,
              "type": "string",
              "example": "00000000-0000-0000-0000-000000000000"
            }
          },
          {
            "name": "X-Correlation-ID",
            "in": "header",
            "description": "Internal Use Correlation ID used to trace messages bewteen platforms (not exposed publically)",
            "style": "simple",
            "schema": {
              "maxLength": 36,
              "type": "string",
              "example": "00000000-0000-0000-0000-000000000000"
            }
          }
        ],
        "requestBody": {
          "description": "The information to **Capture** a Payment request.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CaptureReferencedPaymentRequest"
                  },
                  {
                    "description": "The information to **Capture** a Payment request."
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Capture request processed; processing will continue",
            "headers": {
              "X-Deployed-Version": {
                "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                      "example": "1.0.7"
                    },
                    "example": "1.0.7"
                  }
                }
              },
              "X-Idempotent-Response": {
                "description": "Optional header that indicates that this response is from a previous request using the same idempotency key.",
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "description": "Optional header that indicates that this response is from a previous request using the same idempotency key.",
                      "example": "false"
                    },
                    "example": "false"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CaptureReferencedPaymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (additional information will be provided in the response body)",
            "headers": {
              "X-Deployed-Version": {
                "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                      "example": "1.0.7"
                    },
                    "example": "1.0.7"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (Missing or Incorrect Authentication information provided)",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "The wpPaymentId supplied is not valid.",
            "headers": {
              "X-Deployed-Version": {
                "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                      "example": "1.0.7"
                    },
                    "example": "1.0.7"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal service error (additional information may be provided in the response body)",
            "headers": {
              "X-Deployed-Version": {
                "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                      "example": "1.0.7"
                    },
                    "example": "1.0.7"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/payments/{wpAuthorizationOrPaymentId}/cancel": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "referencedCancel",
        "description": "You want to cancel the authorisation on a payment that has not yet been settled referencing the original transaction.\n\nSince this occurs **prior** to settlement there is no need to return any funds to the customer.\n",
        "operationId": "referencedCancel",
        "parameters": [
          {
            "name": "wpAuthorizationOrPaymentId",
            "in": "path",
            "description": "The [unique authorization or payment identifier](page:payments-101/wp-transaction-id) generated by Worldpay and returned in the original authorization or capture response.",
            "required": true,
            "style": "simple",
            "schema": {
              "maxLength": 21,
              "minLength": 21,
              "type": "string",
              "example": "V1StGXR8_Z5jdHi6B-myT"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Optional caller supplied [idempotency key](page:payments-101/idempotency) used to prevent duplicate request processing",
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "00000000-0000-0000-0000-000000000000"
            }
          },
          {
            "name": "X-Correlation-ID",
            "in": "header",
            "description": "Internal Use Correlation ID used to trace messages bewteen platforms (not exposed publically)",
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "00000000-0000-0000-0000-000000000000"
            }
          }
        ],
        "requestBody": {
          "description": "The information to **Cancel** a Payment request that has not been captured.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CancelReferencedPaymentRequest"
                  },
                  {
                    "description": "The information to **Cancel** a Payment request that has not been captured.",
                    "example": {
                      "merchantData": {
                        "merchantId": "1234567"
                      },
                      "reversalReason": "ClerkCancel"
                    }
                  }
                ]
              },
              "examples": {
                "cancel-referenced": {
                  "summary": "Cancel a previous Authorization (that has not been captured) using a reference to the original Authorization",
                  "value": {
                    "merchantData": {
                      "merchantId": "1234567"
                    },
                    "reversalReason": "ClerkCancel"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Reverse request processed; processing will continue",
            "headers": {
              "X-Deployed-Version": {
                "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                      "example": "1.0.7"
                    },
                    "example": "1.0.7"
                  }
                }
              },
              "X-Idempotent-Response": {
                "description": "Optional header that indicates that this response is from a previous request using the same idempotency key.",
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "description": "Optional header that indicates that this response is from a previous request using the same idempotency key.",
                      "example": "false"
                    },
                    "example": "false"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelReferencedPaymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (additional information will be provided in the response body)",
            "headers": {
              "X-Deployed-Version": {
                "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                      "example": "1.0.7"
                    },
                    "example": "1.0.7"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (Missing or Incorrect Authentication information provided)",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "The wpPaymentId supplied is not valid.",
            "headers": {
              "X-Deployed-Version": {
                "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                      "example": "1.0.7"
                    },
                    "example": "1.0.7"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal service error (additional information may be provided in the response body)",
            "headers": {
              "X-Deployed-Version": {
                "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                      "example": "1.0.7"
                    },
                    "example": "1.0.7"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/payments/cancel": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "cancel",
        "description": "You want to cancel the authorisation on a payment (referencing the original authorization) that has not yet been settled.\n\nSince this occurs **prior** to settlement there is no need to return any funds to the customer.\n",
        "operationId": "cancel",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Optional caller supplied [idempotency key](page:payments-101/idempotency) used to prevent duplicate request processing",
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "00000000-0000-0000-0000-000000000000"
            }
          },
          {
            "name": "X-Correlation-ID",
            "in": "header",
            "description": "Internal Use Correlation ID used to trace messages bewteen platforms (not exposed publically)",
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "00000000-0000-0000-0000-000000000000"
            }
          }
        ],
        "requestBody": {
          "description": "The information to **Cancel** a Payment request that has not been captured.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CancelPaymentRequest"
                  },
                  {
                    "description": "The information to **Cancel** a Payment request that has not been captured."
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Reverse request processed; processing will continue",
            "headers": {
              "X-Deployed-Version": {
                "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                      "example": "1.0.7"
                    },
                    "example": "1.0.7"
                  }
                }
              },
              "X-Idempotent-Response": {
                "description": "Optional header that indicates that this response is from a previous request using the same idempotency key.",
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "description": "Optional header that indicates that this response is from a previous request using the same idempotency key.",
                      "example": "false"
                    },
                    "example": "false"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelPaymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (additional information will be provided in the response body)",
            "headers": {
              "X-Deployed-Version": {
                "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                      "example": "1.0.7"
                    },
                    "example": "1.0.7"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (Missing or Incorrect Authentication information provided)",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal service error (additional information may be provided in the response body)",
            "headers": {
              "X-Deployed-Version": {
                "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                      "example": "1.0.7"
                    },
                    "example": "1.0.7"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/tokens/createToken": {
      "post": {
        "tags": [
          "Tokens"
        ],
        "summary": "CreateToken",
        "description": "",
        "operationId": "CreateToken",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Optional caller supplied [idempotency key](page:payments-101/idempotency) used to prevent duplicate request processing",
            "style": "simple",
            "schema": {
              "maxLength": 36,
              "type": "string",
              "example": "00000000-0000-0000-0000-000000000000"
            }
          },
          {
            "name": "X-Correlation-ID",
            "in": "header",
            "description": "Internal Use Correlation ID used to trace messages bewteen platforms (not exposed publically)",
            "style": "simple",
            "schema": {
              "maxLength": 36,
              "type": "string",
              "example": "00000000-0000-0000-0000-000000000000"
            }
          }
        ],
        "requestBody": {
          "description": "The information for the Tokenize Request",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/TokenizeRequest"
                  },
                  {
                    "description": "The information for the Tokenize Request",
                    "example": {
                      "merchantData": {
                        "merchantId": "1234567"
                      },
                      "dataToTokenize": {
                        "type": "card/creditOrDebit",
                        "pan": "411111xxxxxx1111",
                        "expiration": {
                          "month": 12,
                          "year": 25
                        }
                      }
                    }
                  }
                ]
              },
              "examples": {
                "TOKENIZE: WP Security Token": {
                  "summary": "Generate WP Security Token for Card Information",
                  "description": "This example shows generating a Security Token for Card Information",
                  "value": {
                    "merchantData": {
                      "merchantId": "1234567"
                    },
                    "dataToTokenize": {
                      "type": "card/creditOrDebit",
                      "pan": "411111xxxxxx1111",
                      "expiration": {
                        "month": 12,
                        "year": 25
                      }
                    }
                  }
                },
                "TOKENIZE: WP Security Token for ACH Info": {
                  "summary": "Generate WP Security Token for ACH Info",
                  "description": "This example shows generating a Security Token for ACH Info",
                  "value": {
                    "merchantData": {
                      "merchantId": "1234567"
                    },
                    "dataToTokenize": {
                      "type": "directDebit/eCheck",
                      "accountType": "savings",
                      "routingNumber": "01234567",
                      "accountNumber": "012345678901"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-Deployed-Version": {
                "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                      "example": "1.0.7"
                    },
                    "example": "1.0.7"
                  }
                }
              },
              "X-Idempotent-Response": {
                "description": "Optional header that indicates that this response is from a previous request using the same idempotency key.",
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "description": "Optional header that indicates that this response is from a previous request using the same idempotency key.",
                      "example": "false"
                    },
                    "example": "false"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/TokenizeResponse"
                    },
                    {
                      "example": {}
                    }
                  ]
                },
                "examples": {
                  "TOKENIZE: WP Security Token": {
                    "summary": "Generate WP Security Token for Card Information",
                    "description": "This example shows the response to generating a Security Token for Card Information",
                    "value": {}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "X-Deployed-Version": {
                "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                      "example": "1.0.7"
                    },
                    "example": "1.0.7"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "422": {
            "description": "Client Error",
            "headers": {
              "X-Deployed-Version": {
                "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                      "example": "1.0.7"
                    },
                    "example": "1.0.7"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "headers": {
              "X-Deployed-Version": {
                "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                      "example": "1.0.7"
                    },
                    "example": "1.0.7"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/inquiries/availablePaymentMethods": {
      "post": {
        "tags": [
          "Inquiries"
        ],
        "summary": "queryPaymentMethods",
        "description": "",
        "operationId": "queryPaymentMethods",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Optional caller supplied [idempotency key](page:payments-101/idempotency) used to prevent duplicate request processing",
            "style": "simple",
            "schema": {
              "maxLength": 36,
              "type": "string",
              "example": "00000000-0000-0000-0000-000000000000"
            }
          },
          {
            "name": "X-Correlation-ID",
            "in": "header",
            "description": "Internal Use Correlation ID used to trace messages bewteen platforms (not exposed publically)",
            "style": "simple",
            "schema": {
              "maxLength": 36,
              "type": "string",
              "example": "00000000-0000-0000-0000-000000000000"
            }
          }
        ],
        "requestBody": {
          "description": "The information for the Payment Capture Request",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PaymentMethodsQueryRequest"
                  },
                  {
                    "description": "The information for the Payment Capture Request"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ok",
            "headers": {
              "X-Deployed-Version": {
                "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "description": "Identifies the deployed major.minor.patch version of the API that answered this request.",
                      "example": "1.0.7"
                    },
                    "example": "1.0.7"
                  }
                }
              },
              "X-Idempotent-Response": {
                "description": "Optional header that indicates that this response is from a previous request using the same idempotency key.",
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "description": "Optional header that indicates that this response is from a previous request using the same idempotency key.",
                      "example": "false"
                    },
                    "example": "false"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentMethodsQueryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (additional information will be provided in the response body)",
            "headers": {
              "X-Deployed-Version": {
[...]
